In [8]:
import pandas as pd

# sum_info = pd.read_csv('sgrna-designs.summary.txt', sep='\t')
# print(sum_info)

# Checking data.
design_info = pd.read_csv('sgrna-designs.txt', sep='\t')
data_filter = design_info[['Target Gene Symbol', 'Target Transcript', 'Strand of Target', 'sgRNA Sequence', 'Exon Number',
           'Combined Rank', 'Pick Order']]
df = pd.DataFrame(data_filter)
df_filtered = df.dropna()
df_filtered

,Target Gene Symbol,Target Transcript,Strand of Target,sgRNA Sequence,Exon Number,Combined Rank,Pick Order
1,ING5,NM_032329.6,+,AAGTTCCTCTGAAGTTCGCA,2,2,1.0
6,ING5,NM_032329.6,+,AAAGAAAAAAGAGGGTCCCG,5,7,2.0
7,ING5,NM_032329.6,+,GGCTGCAGAGTACATCTCCA,3,8,3.0
9,ING5,NM_032329.6,+,CTGGACCAGAGGACGGAAGG,2,10,4.0
11,ING5,NM_032329.6,+,AGGTGGATAAACACATTCGA,4,12,5.0